  @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #FAF8F6;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #0000;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #002734;
  background-color: #e0e5e9;
  font-family: 'Work Sans', sans-serif;
}
  nav ul{
      display: flex;
      margin-left: 15px;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: space-between;
      justify-content: center;
      align-items: center;
  }
  
  
  nav h1{
    font-weight: bold;
    font-size: 20px;
  }
  nav li{
  display: flex;
     margin: 10px;
     margin-top: 5px;
     margin-bottom: 5px;
     cursor: pointer;
     border-bottom: 2px solid transparent;;
     transition: 0.4s all linear;

  }
  nav li:hover{
    border-bottom: 2px solid #002734;;
  }
  .active{
    border-bottom: 2px solid #002734;
  }
  nav{
      margin: 0%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 50px;
      margin-top: 5px;
      margin-right: 50px;
  }
  
  nav .input{
    cursor: pointer;
      display: flex;
      align-items: center;
      border-bottom: 1px solid transparent ;
      transition: 0.5s all linear;
      padding: 5px;
  }
  
  nav .input input{
      border: none;
      outline: none;
      margin-left: 5px;
      background-color: transparent;
      width: 0px;
      transition: 0.3s all linear;

  }

  nav input:focus{
      border: none;
      outline: none;
      margin-left: 5px;
      background-color: transparent;
      width: 200px;
  }
  


  nav button{
      border: none;
      background: none;
      border: 1px solid transparent;
      transition: 0.4s all linear;
      padding: 5px;
  }
  
  .esquerda{
      display: flex;
      align-items: center;
  }
  
  .direita {
    display: flex;
    align-items: center;
}
  
  nav button:hover{
    border: 1px solid #002734;
    border-radius: 55px;
  }

  .First button{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
      font-size: large;
      background-color: #002734;
      color: rgb(235, 235, 235);
      padding: 12px;
      padding-left: 35px;
      padding-right: 35px;
      border: none;
      cursor: pointer;
      transition: 0.1s all linear;
      margin-top: 50px;
      user-select: none;
  }
  .First button:active{
    border-radius: 25px;
    background-color: #002734;
    color: gainsboro;
    transform: scale(1.09);
  }
  .First p{
    margin-top: 20px;
  }
  .First button:hover{
    border-radius: 25px;
  }

  .First h1{
    font-size: 50px;
    font-weight: bold;
  }
  .Second{
    max-width: 900px;
    display: flex;
    
  }
  .Second img{
    width: 80%;
  }
  .First {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 550px;
  }

  .burger1{
    width: 25px;
    background-color: #272727;
    height: 2px;
    margin: 3px;
    border-radius: 20px;
  }
  .burger2{
    width: 20px;
    background-color: #272727;
    height: 2px;
    margin: 3px;
    transition: 0.3s all linear;
  }
  .burger3{
    background-color: #272727;
    height: 2px;
    width: 15px;
    margin: 3px;
    transition: 0.3s all linear;
    
  }
  .Title{
    margin : 20px;
    display : flex;
    align-items : center;
    flex-direction: row;
    justify-content: space-between;
  }
  .burger{
    cursor: pointer;
  }
  .Mobile{
    display: none;
  }
  .desktop{
    display: flex;
  }
  .Title div{
    width: 100% !important;
  }
  @media screen and (max-width : 825px) {
    .Mobile{
      display: block;
    }
    .desktop{
      display: none;
    }
    nav{
      margin-right: 15px;
      margin-left: 15px;
    }
    .Title{
      flex-direction: column;
      align-items: flex-start;
      padding-left: 20px;
    }
    .Title div{
      width: 100% !important;
    }
    .Title .Second{
      width: 70% !important;
      margin-top: 50px;

    }
  }

  .SideMenu{
    position: absolute;
    z-index: 11;
    top: 0;
    right: 0;
    height: 250px;
    overflow: hidden;
    border-left: 1px solid #002734;
    width: 50%;
    background-color: #FAF8F6;
    border-bottom: 1px solid #002734;
    transform: translateY(60px);
    opacity: 0;
    transition: 0.4s all linear;
    visibility: hidden;
  }
  body::before {
    content: '';
    width: 50%;
    height: 1px;
    opacity: 1;
    background-color: #002734;
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 10;
    transform-origin: right; /* define o eixo de transformação para o lado esquerdo */
    transform: scaleX(0); /* define a largura inicial como 0 */
    transition: 0.3s all linear;
  }
  
  body.menu-open::before {
    transform: scaleX(1); /* define a largura final como 1 */
  }
  
  .SideMenu ul{
    display: flex;
    flex-direction: column;
    
  }
  .SideMenu ul li{
    text-align: left;
  }

  .SideMenu .input{
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
    width: 100%;
  }
  .SideMenu h1{
    text-align: center;
    margin-bottom: 20px;
  }

  @media screen and (min-width : 1440px) {
    .First h1{
      font-size: 5rem;
    }
    .Title div{
      width: 50% !important;
    }
    .First p{
      font-size: 1.5rem;
    }
    .First{
      max-width: 1000px;
    }
    .Second{
      max-width: 1000px;
    }
    .Second img{
      max-width: 1000px;
    }
    .Title{
      margin: 50px;
      justify-content: center;
    }
  }

  .burger{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    filter: blur(8px);
    opacity: 0;
    transition: 0.2s all linear;
    z-index: -10;
    background-color: rgba(0, 0, 0, 0.267);
  }
  .First p{
    text-align: center;
  }
  .MainLogin{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .MainLogin form{
    width: 50%;
    border: 1px solid #002734;
    padding: 20px;
    border-radius: 3px;
  }
  .MainLogin form input{
    background-color: transparent;
    outline: none;
    width: 100%;
  }
  .LoginSec,.PasswordSec{
    border: 1px solid #002734;
    border-radius: 15px;
    padding: 7px 03px;
    margin: 5px;
  }
  .MainLogin form input[type=button]{
    font-family: 'Work Sans', sans-serif;

    font-weight: bold;
    font-size: large;
    background-image: linear-gradient(90deg,#304d78,#002734,#304d78);
    color: rgb(235, 235, 235);
    padding: 12px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: 0.1s all linear;
    user-select: none;
  }

  .MainLogin form input[type=button]:hover{
    border-radius: 55px;
  }
  .MainLogin form input[type=button]:active{
    border-radius: 25px;
    background-color: #002734;
    color: gainsboro;
    transform: scale(1.09);
  }

  @media screen and (max-width : 550px) {
    .MainLogin form{
      width: 70%;
    }
  }

  @import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');
 * {
	 box-sizing: border-box;
}
 body {
  font-family: 'Work Sans', sans-serif;
}
 .container {
	 display: flex;
	 height: calc(100vh - 45px);
}
 .left {
	 overflow: hidden;
	 display: flex;
	 flex-wrap: wrap;
	 flex-direction: column;
	 justify-content: center;
	 animation-name: left;
	 animation-duration: 1s;
	 animation-fill-mode: both;
	 animation-delay: 1s;
}
 .right {
	 flex: 1;
	 background-color: #002734;
	 transition: 1s;
	 background-image: url(https://f.i.uol.com.br/fotografia/2019/09/27/15696107995d8e5c2f6ffe4_1569610799_5x2_lg.jpg);
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-position: center;
}
 .header > h2 {
	 margin: 0;
	 color: #4f46a5;
}
 .header > h4 {
	 margin-top: 10px;
	 font-weight: normal;
	 font-size: 15px;
	 color: rgba(0, 0, 0, .4);
}
 .form {
	 max-width: 80%;
	 display: flex;
	 flex-direction: column;
}
 .form > p {
	 text-align: right;
}
 .form > p > a {
	 color: #000;
	 font-size: 14px;
}
 .form-field {
	 height: 46px;
	 padding: 0 16px;
	 border: 2px solid #ddd;
	 border-radius: 4px;
   font-family: 'Work Sans', sans-serif;
	 outline: 0;
	 transition: 0.2s;
	 margin-top: 20px;
}
 .form-field:focus {
	 border-color: #4f46a5;
}
 .form > button {
	 padding: 12px 10px;
	 border: 0;
	 background: linear-gradient(to right, #4f46a5 0%, #4f46a5 100%);
	 border-radius: 3px;
	 margin-top: 10px;
	 color: #fff;
	 letter-spacing: 1px;
	 font-family: 'Rubik', sans-serif;
}
 .animation {
	 animation-name: move;
	 animation-duration: 0.4s;
	 animation-fill-mode: both;
	 animation-delay: 2s;
}
 .a1 {
	 animation-delay: 2s;
   font-size: xx-large;
}
 .a2 {
	 animation-delay: 2.1s;
}
 .a3 {
	 animation-delay: 2.2s;
}
 .a4 {
	 animation-delay: 2.3s;
}
 .a5 {
	 animation-delay: 2.4s;
}
 .a6 {
	 animation-delay: 2.5s;
}
 @keyframes move {
	 0% {
		 opacity: 0;
		 visibility: hidden;
		 transform: translateY(-40px);
	}
	 100% {
		 opacity: 1;
		 visibility: visible;
		 transform: translateY(0);
	}
}
 @keyframes left {
	 0% {
		 opacity: 0;
		 width: 0;
	}
	 100% {
		 opacity: 1;
		 padding: 20px 40px;
		 width: 440px;
	}
}