
.navbar {
  background-color: rgba(255, 255, 255, 1);
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.338);
  border-radius: 10px;
  width: calc(100% - 20px);
  margin-left: 10px;
  transform: translateY(10px);
  margin-bottom: 20px;
}
body{
  color: #1A237E;
}
.MainPage{
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.267);
}
.StartImage {
  background-image: url(/src/imgs/bg-header.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover; /* Redimensiona a imagem para cobrir o elemento */
}
.tablePage{
  padding: 10px;
}
.alert{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.445);
  position: fixed;
  bottom: -100px;
margin: 0;
left: 10px;
margin-right: 10px;
width: calc(100% - 20px);
animation: alert 4s linear;
}
@keyframes alert{
0%{
bottom: -100px;
}
20%{
  bottom: 10px;

}
80%{
  bottom: 10px;

}
100%{
  bottom: -100px;
}
}

.StartContent{
  margin: 10px;
  margin-top: 0px;
}

.hero{
  background-color: transparent;
  height:100vh;
}
.MainPage{
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100px);
}
.MainPage h1{
  margin-top: 30px;
  font-size: 2.6rem;
  font-weight: bold;
}
.MainPage h4{
  font-size: medium;
  margin: 20px;
}
img.imgmain{
  animation: BreathImg 5s linear infinite;
}

@keyframes BreathImg {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(20px);

  }
  100%{
    transform: translateY(0px);

  }
}