@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width: 425px){
    .hero div button{
      display: block;
    }
    .hero div p{
        display: block;
    }
 
    .hero-content{
        margin-top: 10px;
    }
    .inicial img{
        display: none !important;
    }
    .hero-content{
        margin-top: 100px;
    }
}
@media (max-width: 1405px) and (min-width: 425px) {
    .hero > * {
        width: 80% !important; /* Reduz a largura do elemento */
        max-width: 100% !important; /* Garante que o elemento não exceda a largura da tela */
    }


}

@media (max-width : 426px){
    .heroinst{
        width: 100% !important; 
    }
    .breadcrumbs{
        position: absolute;
        left: 10px;
        margin-top: -15px;

    } 
    .navbar-bottom h1{
        display: none;
      }
      .navbar-bottom{
        margin-left: 0 !important;
        transform: translate(0px) !important;
        width: 100% !important;
        display: fixed;
align-items: normal !important;
      }
}
